@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@400;700&display=swap");

*,
*::before,
*::after {
	box-sizing: border-box;
	color: unset;
	background: unset;
	font-size: unset;
	font-weight: unset;
	font-family: inherit;
	margin: unset;
	padding: unset;
	text-decoration: unset;
	outline: unset;
	border: unset;
}
