@import "base";

body {
	width: 100%;
	font-family: "Fraunces", serif;
	font-size: 1rem;
	overflow-x: hidden;

	@import "./sections/navbar";

	main {
		background: rgba(black, 0.875);

		section {
			width: 100%;
			height: 100%;
			padding: 5% 10%;
			display: grid;
			gap: 3rem;
			color: white;

			.intro {
				h1 {
					font-size: 1.875em;
					font-weight: 700;
					text-transform: uppercase;
					text-decoration: underline;
					letter-spacing: 0.75rem;
				}

				p {
					padding: 1.75rem 0;
					font-size: 1.25em;
					letter-spacing: 0.125rem;
					word-spacing: 0.125rem;
				}
			}
		}

		@import "./sections/home";

		@import "./sections/skills";

		@import "./sections/projects";

		@import "./sections/contact";
	}

	.socials {
		display: grid;
		gap: 1rem;
		position: fixed;
		z-index: 20;
		bottom: 1.75%;
		left: 1.75%;

		.icon {
			width: 2.5rem;
			height: 2.5rem;
			cursor: pointer;
			transition: 10s;
			background: rgba(255, 255, 0, 0.5);
			border-radius: 0.25rem;

			&:hover {
				filter: hue-rotate(360deg);
			}
		}
	}

	button.back-to-top {
		width: 2.5rem;
		height: 2.5rem;
		border: thin solid;
		border-radius: 50%;
		padding: 0.5rem;
		background: rgba(255, 255, 0, 0.375);
		cursor: pointer;
		position: fixed;
		bottom: 1.75%;
		right: 1.75%;
	}

	object {
		width: 100%;
		height: 100%;
		pointer-events: none;
	}
}

@import "tablet";
@import "mobile";
